<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <converter>
            <nbp>
                <npb_endpoint>http://api.nbp.pl/api/exchangerates/rates/</npb_endpoint>
                <table>a</table>
                <codeRub>rub</codeRub>
                <format>json</format>
            </nbp>
        </converter>
    </default>
</config>
